@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Lato', serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Exo 2', sans-serif;
  }
}
@layer components {
  .borderTop {
    @apply shadow border-t-2 border-primary  rounded-t-sm;
  }
  .slickArrow {
    @apply p-3 hidden md:flex bg-accent/50 hover:bg-accent/70 rounded-md text-base-100;
  }
  .width {
    @apply w-[90%] mx-auto max-w-screen-lg;
  }
}
@layer utilities {
  .placeholder-italic::placeholder {
    font-style: italic;
    font-size: 0.75rem;
  }

  .transition-duration {
    transition: all 0.3s;
  }

  .img:hover ~ .button {
    background-color: #84cc16;
  }

  :is(.slide:hover) .slide-arrow {
    display: flex;
  }
  .clip {
    clip-path: polygon(0.5rem 0%, 0% 50%, 0.5rem 100%, 100% 100%, 100% 0%);
  }
  .background-clip {
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.active {
  color: #e879f9;
}

@keyframes show {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.02);
  }

  80% {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .slide-container {
    height: calc(39vw + (19.2 * 39vw / 100)) !important;
  }
}
@media screen and (min-width: 1024px) {
  .slide-container {
    height: 498px !important;
  }
}
.section-title {
  position: relative;
}
.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 1px;
  background-color: rgb(68, 68, 68);
}
.figure {
  position: relative;
}
.figure::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 0.5px;
  background-color: black;
}
.text-decoration {
  text-transform: none;
}
.black-hover {
  visibility: hidden;
}
:is(.fig:hover) .img {
  transform: scale(1.05);
}
:is(.fig:hover) .black-hover {
  visibility: visible;
  transform-origin: center;
}
:is(.fig:hover) .zoom {
  animation: zoomOut 0.1s linear;
}
@keyframes zoomOut {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.zoom {
  animation: zoomIn 0.1s linear;
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.6);
  }
}
:is(.partner:hover) .pImg {
  opacity: 0;
  visibility: hidden;
}
:is(.partner:hover) .pCap {
  opacity: 1;
  visibility: visible;
}
.word-spacing {
  word-spacing: 4px;
}
.line-height {
  line-height: -6px;
  background-color: black;
}
