@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Lato', serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Exo 2', sans-serif;
  }
}
@layer components {
  .borderTop {
    @apply shadow border-t-2 border-primary  rounded-t-sm;
  }
}
@layer utilities {
  .placeholder-italic::placeholder {
    font-style: italic;
    font-size: 0.75rem;
  }

  .transition-duration {
    transition: all 0.3s;
  }

  .img:hover ~ .button {
    background-color: #e879f9;
  }
}
.active {
  color: #84cc16;
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.03);
  }
  60% {
    transform: scale(1);
  }
}
